.checkout_page {
  width: 100%;
  min-height: calc(100vh - 130px);
  position: relative;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #ffffff;
}
.checkout_header {
  width: 100%;
  background-color: #ed9121;
  padding: 5px 10px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: left;
}
.no_orders {
  width: 60%;
  margin: 0 auto;
  border-radius: 4px;
}
.no_orders_txt {
  padding: 5px 10px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 700;
  background: #ffffff;
  border: 1px solid #e7195a;
  color: #e7195a;
}
.orders_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 10px;
  position: relative;
}
.checkout_orders,
.checkout_progress_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checkout_orders {
  width: 48%;
  position: relative;
}
.checkout_progress_wrapper {
  width: 48%;
  position: relative;
}
.order_summary {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pending_orders_count {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;
}
.pending_orders_count span {
  color: #ed9121;
  font-size: 16px;
}
.pending_orders {
  width: 100%;
  padding: 20px;
  max-height: calc(100vh - 290px);
  overflow: overlay;
  border: 5px solid cadetblue;
  background-color: #ffffff;
  border-radius: 4px;
}
.order_summary_header {
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;
}
.pricing_summary {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}
.pricing_summary div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid cadetblue;
}
.left,
.right {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
}
.left.total {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
}
.order_total {
  padding: 5px 10px;
  font-weight: 700;
  background-color: #ed9121;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  display: flex;
  align-items: center;
  gap: 2px;
}
.dollar_sign {
  color: rgb(153, 255, 0);
  font-size: 20px;
}
.shop_link,
.checkout_next_btn {
  padding: 10px 15px;
  border: none;
  background-color: teal;
  color: white;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  font-size: 16px;
  gap: 10px;
}
.checkout_next_btn {
  background-color: #028a18;
}
.shop_link:hover {
  background-color: #ed9121;
}
.checkout_next_btn:hover {
  background-color: green;
}
.shop_link {
  margin-top: 20px;
}
.checkout_option_btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 20px;
}
.checkout_login_btn,
.view_orders_link {
  padding: 10px 15px;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  background-color: rgb(99, 95, 160);
  border: 1px solid transparent;
  transition: all 0.2s ease;
}
.checkout_login_btn:hover,
.view_orders_link:hover {
  background-color: #333;
  border: 1px solid #ed9121;
}
.checkout_success_page {
  width: 100%;
  height: calc(100vh - 130px);
  background-color: #ffffff;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.checkout_success_page p {
  color: black;
  width: 50%;
  text-align: center;
}
.place_order_btn {
  width: 90%;
  padding: 10px 15px;
  border-radius: 3px;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 5px;
  gap: 10px;
  background-color: #ffffff;
  border: 2px solid #ed9121;
  color: #ed9121;
  transition: all 0.3s ease-in-out;
}
.place_order_btn:hover {
  letter-spacing: 2px;
  background-color: green;
  border: 2px solid transparent;
  color: white;
}
.order_submitted_msg{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 20px auto;
  text-align: center;
  padding: 20px;
}
.order_submitted_msg p{
  color: #333;
  font-size: 14px;
  font-weight: 500;
  width: 80%;
  margin: 10px 0;
}
@media only screen and (max-width: 800px) {
  .checkout_header {
    text-align: right;
  }
  .orders_content {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 40px;
  }
  .checkout_orders,
  .checkout_progress_wrapper {
    width: 100%;
  }
  /* .shop_link {
    top: 0px;
  } */
}
@media only screen and (max-width: 500px) {
  .checkout_page {
    border-radius: 0;
  }
}
