.modal {
  position: fixed;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.616);
}
.modal_content {
  width: 50%;
  background-color: white;
  padding: 2rem;
  border-radius: 3px;
  position: relative;
}
.login_signup_div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.stay_out_btn {
  border: none;
  background-color: transparent;
  outline: none;
  color: rgb(212, 0, 0);
}
.stay_out_btn:hover {
  color: black;
  text-decoration: underline;
}

/* .signup_txt {
  font-size: 1rem;
  color: #333;
  font-weight: 600;
} */
.login_signup_btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login_btn,
.signup_btn {
  padding: 0.7rem 1rem;
  border: 2px solid transparent;
  outline: none;
  border-radius: 4px;
  width: 45%;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
}
.login_btn {
  background-color: #ed9121;
}
.login_btn:hover {
  border: 2px solid #333;
}
.signup_btn {
  background-color: #333;
}
.signup_btn:hover {
  border: 2px solid #ed9121;
}
