.admin_page {
  width: 100%;
  min-height: calc(100vh - 130px);
  padding: 10px 10px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #ffffff;
  position: relative;
}
.admin_page h1 {
  font-size: 1rem;
}
.admin_panel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 6px 0;
}
.customer_btn,
.orders_btn,
.products_btn {
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  background-color: #333;
  color: #ffffff;
  font-size: 12px;
  border-radius: 3px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  border: none;
}
.admin_panel button:hover {
  background-color: cadetblue;
}
.counter {
  position: absolute;
  padding: 4px;
  min-width: 25px;
  min-height: 20px;
  right: -5px;
  top: -9px;
  background-color: #ed9121;
  color: #ffffff;
  border-radius: 3px;
  font-size: 10px;
  z-index: 999;
  font-weight: 700;
}
.selected {
  background-color: cadetblue;
}

.not_admin {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  transform: translateY(-50%);
  background-color: red;
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 900;
  z-index: 999;
  border: 3px solid black;
}
.success_popup,
.confirmation_popup {
  position: fixed;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 3px 3px 3px 3px #000000;
  z-index: 99999999999999;
  border-radius: 5px;
}
.confirmation_popup {
  width: 300px;
}
.confirmation_popup p,
.success_popup p {
  color: black;
  font-size: 16px;
  font-weight: 600;
  margin: 15px 0;
}
.confirmation_buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.yes_btn,
.no_btn {
  width: 40%;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 600;
  color: #ddd;
  border: 1px solid black;
  border-radius: 3px;
  background-color: transparent;
  text-align: center;
}
.yes_btn {
  background-color: red;
}
.no_btn {
  background-color: green;
}
.success_popup h2 {
  color: #000000;
  font-size: 17px;
}

@media only screen and (max-width: 500px) {
  .admin-page h1 {
    font-size: 1.2rem;
  }
  .customer_btn,
  .orders_btn,
  .products_btn {
    padding: 7px;
    gap: 10px;
    font-size: 0.8rem;
  }
  .counter {
    padding: 3px;
    min-width: 20px;
    right: -6px;
    top: -11px;
    border-radius: 2px;
    font-size: 12px;
  }
}
