.checkout_success_page {
  width: 100%;
  height: calc(100vh - 130px);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.checkout_success_page p {
  color: black;
  width: 50%;
  text-align: center;
}
.payment_verifyed {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: #028a18;
  align-items: center;
  border: 2px solid #028a18;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}
.paid_icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 5px;
  border: 3px solid #028a18;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order_submitted_msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 20px auto;
  text-align: center;
  padding: 20px;
}
.order_submitted_msg p {
  color: #333;
  font-size: 14px;
  font-weight: 500;
  width: 80%;
  margin: 10px 0;
}
