.user_profile {
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user_info {
  width: 100%;
  margin-bottom: 20px;

}
.admin_title {
  color: #21ed21;
  font-size: 16px;
  font-weight: 800;
  display: block;
  margin-bottom: 5px;
}
.user_profile_info {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
/* .profile_options {
  width: 100%;
  display: flex;
} */
.user_cred {
  margin-top: 10px;
}
.user_profile_pic {
  width: 50px;
  height: 50px;
  border: 2px solid #333;
  background-color: #ffefef;
  overflow: hidden;
  border-radius: 30%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.user_profile_pic:hover {
  border-radius: 50%;
  border: 2px solid #ed9121;
}

.user_profile_pic img {
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.upload_image_option {
  /* display: flex; */
  margin-top: 10px;
  margin-right: 10px;
}
.upload_image_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}
.select_image {
  text-align: center;
  text-decoration: underline;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #000000;
  border: none;
  border-radius: 4px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.upload_image_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 10px;
  height: 30px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  cursor: pointer;
  user-select: none;
  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.39);
  color: #fff;
  transition: all 0.3s ease;
}
.upload_image_btn:active {
  background-color: #0be60b;
}
.upload_image_btn:hover {
  background-color: #0be60b;
}
.upload_image_btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
input[type='file'] {
  display: none;
}
.profile_txts {
  font-size: 14px;
  color: #ed9121;
  letter-spacing: 1px;
  margin-top: 4px;
}
.view_orders_btn {
  color: cadetblue;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  display: block;
}
.account_settings {
  /* display: block; */
  width: 100%;
  height: auto;
}
.settings_btn {
  padding: 5px 10px;
  width: 60%;
  background-color: #ed9121;
  border: 1px solid #ffffff;
  color: #ffefef;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.settings_btn:hover {
  background-color: #333;
}
.change_pass_btn,
.update_shipping_btn,
.update_payment_btn {
  width: 90%;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 600;
  background-color: #ed9121;
  background-color: cadetblue;
  margin: 5px 0;
  cursor: pointer;
  color: #ffffff;
  border-radius: 5px;
}
.logout_btn {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px 10px;
  background-color: #e7195a;
  border: 1px solid red;
  color: #ffefef;
  font-weight: 600;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.logout_btn:hover {
  background-color: #ffefef;
  color: #e7195a;
}
