.orders_page {
  width: 100%;
  min-height: calc(100vh - 130px);
  position: relative;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #f7f7f7;
}
.orders_header {
  width: 100%;
  background-color: #ed9121;
  padding: 10px;
  color: #ffffff;
  text-align: center;
  border-bottom: 5px solid cadetblue;
}
.place_order_btn {
  padding: 10px 15px;
  border: none;
  background-color: teal;
  color: white;
  border-radius: 3px;
  display: block;
  margin: 0 auto;
  letter-spacing: 2px;
  font-size: 16px;
  gap: 10px;
}
.place_order_btn:hover{
  background-color: green;

}