.privacy-policy-page {
  width: 100%;
  min-height: calc(100vh - 110px);
  background-color: aliceblue;
  padding: 30px;
}
.privacy-policy-page h1,
.privacy-policy-page p {
  width: 70%;
  margin: 20px auto;
}
