.main_content {
  background-color: #ffffff;
  min-height: calc(100vh - 130px);
  width: 100%;
  margin: 10px auto;
  
}

.close_modal {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}
.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
}
