
.close_modal {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}
.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
}
main {
  background-color: rgb(255, 255, 255);
  min-height: calc(100vh - 130px);
  padding: 2rem;
  color: black;
  width: 100%;
  margin: 10px auto;
}
