header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 100%;
  height: 60px;
  position: relative; /*for cart drop down/for menu button*/
}
.logo-link {
  max-width: 20%;
  min-width: 120px;
  transition: all 0.2s ease-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo-text {
  display: block;
  font-weight: 600;
  font-size: 22px;
  color: #333;
  letter-spacing: 3px;
}
.username {
  color: #ed9121;
  font-size: 0.7rem;
  font-weight: 800;
}
ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  flex-wrap: wrap;
}
/* .modal {
  position: fixed;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.616);
} */
.navigation {
  width: 30%;
  display: flex;
  align-items: center;
}
/* NAV LINKS/MEN,WOMEN,ELECTRONICS... */
.nav-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.nav-link {
  /* margin-right: 20px; */
  color: #333;
  text-decoration: none;
}

.nav-link:hover {
  color: #000000;
  border-bottom: 2px solid #ed9121;
}

.register_form input {
  margin: 1rem 0;
}
.close_modal {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}
main {
  background-color: rgb(255, 255, 255);
  min-height: calc(100vh - 150px);
  padding: 2rem;
  color: black;
  width: 100%;
  margin: 10px auto;
}
footer {
  width: calc(100% - 20px);
  height: 50px;
  margin: 0 auto;
  padding: 0 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f1f1f1;
  padding: 10px 20px 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
