header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  position: relative;
}

.logo {
  max-width: 20%;
  min-width: 120px;
  transition: all 0.2s ease-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo_text {
  display: block;
  font-weight: 600;
  font-size: 22px;
  color: #333;
  letter-spacing: 3px;
}
.username {
  color: #ed9121;
  font-size: 0.7rem;
  font-weight: 800;
}
.navigation {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* NAV LINKS/MEN,WOMEN,ELECTRONICS... */
.nav_links {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.nav_link {
  color: #333;
  text-decoration: none;
}

.nav_link:hover {
  color: #000000;
  border-bottom: 2px solid #ed9121;
}
.nav_icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.cart_icon_wrapper {
  position: relative;
  width: 22px;
  height: 20px;
  cursor: pointer;
}
.cart_icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cart_counter {
  position: absolute;
  top: -6px;
  left: 90%;
  transform: translateX(-50%);
  color: #ffffff;
  font-weight: 800;
  min-width: 20px;
  padding: 1px 3px 1px;
  background-color: #ed9121d2;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
}
.user_profile_icon {
  width: 40px;
  height: 40px;
  border: 4px solid transparent;
  overflow: hidden;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.user_profile_icon:hover {
  border: 2px solid #ed9121;
  border-radius: 30%;
}
