header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  position: relative;
}

.logo {
  max-width: 20%;
  min-width: 120px;
  transition: all 0.2s ease-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo_text {
  display: block;
  font-weight: 600;
  font-size: 22px;
  color: #333;
  letter-spacing: 3px;
}
.username {
  color: #ed9121;
  font-size: 0.7rem;
  font-weight: 800;
}

@media only screen and (max-width: 700px) {
  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .logo_text {
    color: cadetblue;
    font-size: 20px;
  }
}
@media only screen and (max-width: 500px) {
  header {
    padding: 10px;
    border-radius: 0px;
  }
  .logo_text {
    font-size: 16px;
  }
}
