.order {
  width: 49%;
  border: 3px solid #ddd;
  padding: 10px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  color: #000000;
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 10px;
  border-radius: 3px;
  position: relative;
}
.cancelled{
  border: 3px solid red;
}
.order_cancelled_txt{
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 10px;
  background-color: rgb(252, 233, 233);
  color: red;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}
.order_title {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  padding: 10px 0 20px;
  border-bottom: 1px solid cadetblue;
}
.order_header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 10px;
}
.order_customer,
.order_address,
.order_delivery {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}
.order_user_icon,
.order_icon_wrapper {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #a7f2ff;
  border: 2px solid rgb(71, 194, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
.order_icon_wrapper {
  padding: 5px;
  border: 1px solid cadetblue;

}
.order_user_icon img,
.order_icon_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.order_user_icon img {
  border-radius: 50%;
  object-fit: cover;
}
.bold {
  font-size: 11px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 3px;
}
.order_customer_info,
.order_shipping_info,
.order_delivery_info {
  display: flex;
  flex-direction: column;
  color: #333;
  font-size: 9px;
  font-weight: 500;
}
.order_table {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #ddd;
}
.order_table thead tr {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #777777;
  font-size: 10px;
  font-weight: 400;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.ordered_product {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000000;
  font-size: 12px;
  font-weight: 600;
  border-bottom: 1px solid #ddd;
}
.ordered_product:last-of-type {
  border-bottom: none;
}
.wider {
  width: 30%;
  text-align: left;
}
.narrow {
  width: 10%;
  text-align: center;
}
.wide {
  width: 15%;
  text-align: center;
}
.mid {
  width: 20%;
  text-align: center;
}
.order_table_prd_data {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  color: cadetblue;
  font-weight: 700;
  padding-top: 5px;
}
.order_table_prd_title {
  font-size: 9px;
  line-height: 1;
}
.order_prd_img {
  background-color: #ffffff;
  min-width: 50px;
  width: 50px;
  max-width: 50px;
  height: 45px;
  padding: 3px;
  border-radius: 5px;
}
.order_prd_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.order_table_total {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 13px;
}
.total_amount {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 5px 10px;
  font-weight: 700;
  background-color: #ed9121;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
}
.remove_order_btn {
  align-self: flex-start;
  padding: 7px;
  background-color: #ffffff;
  font-size: 0.7rem;
  color: red;
  border: 1px solid black;
}
.remove_order_btn:hover {
  border: 1px solid red;
  background-color: red;
  color: white;
}
@media only screen and (max-width: 1100px) {
  .order {
    width: 70%;
  }
}

@media only screen and (max-width: 800px) {
  .order {
    width: 100%;
  }
}
