.users {
  width: 100%;
  min-height: calc(100vh - 240px);
  position: relative;
}
.counter {
  display: block;
  padding: 5px 10px;
  font-size: 12px;
  letter-spacing: 1px;
  width: 150px;
  color: #ffffff;
  font-weight: 600;
  background-color: cadetblue;
  margin-bottom: 1px;
}
.users_list {
  width: 100%;
  color: #333;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}
